.productDisplayHome {
  margin-top: 35px;
}
.productShoesDisplayHome,
.productClothesDisplayHome {
  overflow: hidden;
  display: flex;
  width: 1360px;
  margin: 30px auto 70px;
  /* flex-direction: column; */
}
.productShoesDisplayHome::-webkit-scrollbar,
.productClothesDisplayHome::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trên Chrome, Safari và Edge */
}
.productShoesDisplayHome article:not(:first-child),
.productClothesDisplayHome article:not(:first-child) {
  margin-left: 55px;
}
.productShoesDisplayHome article:first-child,
.productClothesDisplayHome article:first-child {
  margin-left: 10px;
}
.navProductClothesHome {
  margin-top: 30px;
}
.productDisplayHome {
  position: relative;
}
.buttonLeft {
  position: absolute;
  left: 20px;
  top: 180px;
  font-size: 30px;
  border: none;
  background: none;
  width: 60px;
  height: 60px;
  align-items: center;
  opacity: 0.8;
  cursor: pointer;
}
.buttonRight {
  position: absolute;
  right: 20px;
  top: 180px;
  font-size: 30px;
  border: none;
  background: none;
  width: 60px;
  height: 60px;
  align-items: center;
  opacity: 0.8;
  cursor: pointer;
}
.navProductShoesHome,
.navProductClothesHome {
  display: flex;
  margin-bottom: 10px;
}
.navProductClothesHome {
  margin-top: 100px;
}
.productShoesHome {
  font-size: 30px;
  margin-left: 80px;
  color: aliceblue;
}
.productClothesHome {
  font-size: 29px;
  margin-left: 80px;
  color: aliceblue;
}
.allProductShoesHome,
.allProductClothesHome {
  font-size: 25px;
  margin-left: auto;
  margin-right: 80px;
  opacity: 0.8;
  color: aliceblue;
}
.allProductShoesHome:hover,
.allProductClothesHome:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px; /* Độ dày của gạch chân */
}
.buttonLeftClothes {
  position: absolute;
  left: 20px;
  top: 690px;
  font-size: 30px;
  border: none;
  background: none;
  width: 60px;
  height: 60px;
  align-items: center;
  opacity: 0.8;
  cursor: pointer;
}
.buttonRightClothes {
  position: absolute;
  right: 20px;
  top: 690px;
  font-size: 30px;
  border: none;
  background: none;
  width: 60px;
  height: 60px;
  align-items: center;
  opacity: 0.8;
  cursor: pointer;
}
